<configuration>
	<connectionStrings>
		<add name="NewSystemConnectionString"
			 connectionString="Data Source=LUIZPC\SQLEXPRESS;Initial Catalog=NewSystemDB;User Id=sa;Password=123456;Integrated Security=False;Persist Security Info=True;Multipleactiveresultsets=True;"
			 providerName="System.Data.SqlClient"
			/>
	</connectionStrings>
</configuration>	